*{
   margin: 0;
   padding: 0;
}
.container::-webkit-scrollbar{
    
   width: 0;
}
.post-icon{
   border-radius: 50%;
   transition: border-radius 0.3s ease;

}
.post-icon:hover{
   border-radius: 10px;
}
.icon-theam{
   transition: transform 0.5s ease-in-out;
   visibility: hidden;
}
.post-icon:hover .icon-theam{
visibility: visible;
color: black;
font-weight: bold;
   transform: translateX(60px);
}
